<nav class="navbar intlHeader">
  <a class="navbar-brand" href="#">
    <img src="../assets/med_logo_header.webp" width="50" height="50" alt="">
  </a>
</nav>

<router-outlet></router-outlet>

<footer class="footer" style="background-color: #0057b8;">
  <div class="container" style="background-color: #0057b8;color: #ffffff;font-size: 10px;">
    <span>©2020 Medline Industries, Inc. All rights reserved. We make healthcare run better is a trademark and Medline is a registered trademark of Medline Industries, Inc.</span>
  </div>
</footer>
